.search-bar {
  text-align: center;
  background-color: black;
  position: relative;
  /* margin-top: -1em;
  padding-bottom: 1em; */
}
.search-input {
    padding: 5px 5px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
  }

  
.dropdown {
  position: absolute;
  max-height: 100px; 
  overflow-y: auto;
  width: 100%;  
  z-index: 1; 
}